.search-result {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    width: 65vw;
  }
  
  .search-result h2 {
    margin-bottom: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button{

    color: #28926ee3;
  }
