<div class="filter">
  <h2>Filter</h2>
  <div class="filter-option">
    <select id="movie-name" [(ngModel)]="selectedMovie">
      <option value="" disabled selected>Select a movie</option>
      <option *ngFor="let movie of films" [value]="movie.title">{{ movie.title }}</option>
    </select>
  </div>
  <div class="filter-option">
    <select id="species" [(ngModel)]="selectedSpecies">
      <option value="" disabled selected>Species</option>
      <option *ngFor="let speciesT of species" [value]="speciesT.name">{{ speciesT.name }}</option>
    </select>
  </div>
  <div class="filter-option">
    <select id="vehicle" [(ngModel)]="selectedVehicle">
      <option value="" disabled selected>Vehicle</option>
      <option *ngFor="let vehicle of vehicles" [value]="vehicle.name">{{ vehicle.name }}</option>
    </select>
  </div>
  <div class="filter-option">
    <select id="starships" [(ngModel)]="selectedStarship">
      <option value="" disabled selected>Star Ships</option>
      <option *ngFor="let starship of starships" [value]="starship.name">{{ starship.name }}</option>
    </select>
  </div>
  <div class="filter-option">
    <select id="birth-year" [(ngModel)]="selectedBirthYear">
      <option value="" disabled selected>Birth Year</option>
      <option *ngFor="let birthYear of birthYears" [value]="birthYear">{{ birthYear | date }}</option>
    </select>
  </div>
  <button class="search-button" (click)="search()">Search</button>
</div>
